<%include ../partials/header%>	
	<!-----------------------------------------------Container ------------------------------------------------>
	<!-- Breadcrumb Area Start -->
	<section class="filmoja-breadcrumb-area section_70">
			<div class="container">
			   <div class="row">
				  <div class="col-md-12">
					 <div class="breadcrumb-box">
						<h2>HTLFilm-Team Develop</h2>
						<ul>
						   <li><a href="/">Trang Chủ</a></li>
						   <li class="active-breadcromb">Liên Hệ</li>
						</ul>
					 </div>
				  </div>
			   </div>
			</div>
		 </section>
		 <!-- Breadcrumb Area End -->
		  
		  
		   
      <!-- Contact Page Start -->
      <section class="filmoja-contact-page section_70">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <div class="contact-box-left">
                        <div class="support-box">
                           <div class="support-icon">
                              <i class="fa fa-user-o"></i>
                           </div>
                           <div class="support-text">
                              <h3>NGUYỄN VĂN HIẾU</h3>
                              <a href="">Liên hệ</a>
                           </div>
                        </div>
                        <div class="contact-info">
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="single-contact-info">
                                    <p>Trụ sở</p>
                                    <h4><b>Đại học Công Nghiệp TPHCM</b><br>12 Nguyễn Văn Bảo, P4,
                                        Q.Gò Vấp, TPHCM</h4>
                                 </div>
                                 <div class="single-contact-info">
                                    <p>Kết nối</p>
                                    <ul>
                                       <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                       <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                       <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                       <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                       <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="single-contact-info">
                                    <p>Điện thoại</p>
                                    <h4>0706000569</h4>
                                 </div>
                                 <div class="single-contact-info">
                                    <p>Email</p>
                                    <h4>Nguyenvanhieubtxqn@g<h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                        <div class="contact-box-left">
                           <div class="support-box">
                              <div class="support-icon">
                                 <i class="fa fa-user-o"></i>
                              </div>
                              <div class="support-text">
                                 <h3>TRƯƠNG THANH LÂM</h3>
                                 <a href="">Liên hệ</a>
                              </div>
                           </div>
                           <div class="contact-info">
                              <div class="row">
                                 <div class="col-lg-6">
                                    <div class="single-contact-info">
                                            <p>Trụ sở</p>
                                            <h4><b>Đại học Công Nghiệp TPHCM</b><br>12 Nguyễn Văn Bảo, P4,
                                                Q.Gò Vấp, TPHCM</h4>
                                    </div>
                                    <div class="single-contact-info">
                                       <p>Kết nối</p>
                                       <ul>
                                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                          <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="col-lg-6">
                                    <div class="single-contact-info">
                                       <p>Điện Thoại</p>
                                       <h4>+84 923334848</h4>
                                    </div>
                                    <div class="single-contact-info">
                                       <p>Email</p>
                                       <h4>lam.truong1996@gmail.com</h4>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </section>
         <!-- Contact Page End -->
	<!-- ------------------------------------------------------------------------------------------------------>
<%include ../partials/footer%>