<%include ../partials/header%>	
	<!-----------------------------------------------Container ------------------------------------------------>
	<!-- Breadcrumb Area Start -->
	<section class="filmoja-breadcrumb-area section_70">
			<div class="container">
			   <div class="row">
				  <div class="col-md-12">
					 <div class="breadcrumb-box">
						<h2>Lỗi Đăng Nhập</h2>
						<ul>
						   <li><a href="/">Trang Chủ</a></li>
						   <li class="active-breadcromb">Lỗi đăng nhập</li>
						</ul>
					 </div>
				  </div>
			   </div>
			</div>
		 </section>
		 <!-- Breadcrumb Area End -->
		  
		  
		 <!-- Notfound Area Start -->
		 <section class="filmoja-notfound-area section_70">
			<div class="container">
			   <div class="row">
				  <div class="col-md-12">
					 <div class="notfound-box">
						<h1>4<span class="fa fa-frown-o"></span>1</h1>
						<h3>Bạn phải <a id="acction-login-register" href="/login-register">Đăng nhập/Đăng ký</a> để thực hiện chức năng này! </h3>
						<!-- <form>
						   <input type="search" placeholder="Search Here...">
						   <button type="submit">Search</button>
						</form> -->
						<a href="/">Về trang chủ</a>
					 </div>
				  </div>
			   </div>
			</div>
		 </section>
		 <!-- Notfound Area End -->
	<!-- ------------------------------------------------------------------------------------------------------>
<%include ../partials/footer%>