<%include ../partials/header%>	
	<!-----------------------------------------------Container ------------------------------------------------>
	<!-- Breadcrumb Area Start -->
	<section class="filmoja-breadcrumb-area section_70">
			<div class="container">
			   <div class="row">
				  <div class="col-md-12">
					 <div class="breadcrumb-box">
						<h2>Lỗi truy cập</h2>
						<ul>
						   <li><a href="/">Trang Chủ</a></li>
						   <li class="active-breadcromb">Lỗi truy cập</li>
						</ul>
					 </div>
				  </div>
			   </div>
			</div>
		 </section>
		 <!-- Breadcrumb Area End -->
		  
		  
		 <!-- Notfound Area Start -->
		 <section class="filmoja-notfound-area section_70">
			<div class="container">
			   <div class="row">
				  <div class="col-md-12">
					 <div class="notfound-box">
						<h1>5<span class="fa fa-free-code-camp"></span>0</h1>
						<h3>Bạn cần được cấp quyền để thực hiện chức năng này. <a href="#">Liên hệ</a> với chúng tôi..! </h3>
						<!-- <form>
						   <input type="search" placeholder="Search Here...">
						   <button type="submit">Search</button>
						</form> -->
						<a href="/">Về trang chủ</a>
					 </div>
				  </div>
			   </div>
			</div>
		 </section>
		 <!-- Notfound Area End -->
	<!-- ------------------------------------------------------------------------------------------------------>
<%include ../partials/footer%>